@import "octicons/octicons.css";

#howto-container{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;

}

.gh-highlight{
  /*box-shadow: 0 0 35px #932d70;*/
  box-shadow: inset 0 0 3px #aaa;
  border: dashed 1px #2e2e2e;
  position: absolute;
  display: none;
  padding: 5px;
  margin-top: -5px;
  margin-left: -5px;
  border-radius: 5px;
}

.answer{
  position: fixed;
  /*top: 10%;*/
  /*left: 35%;*/
  display: none;
  height: auto;
  width: 30%;
  margin-top: 10px;
  margin-left: -5px;
  padding: 10px;
  overflow: scroll;
  background: rgba(255,255,255,.95);
  border: solid 1px rgba(0,0,0,.6);
  box-shadow: 0 0 0 1px #932d70, 0 0 0 3px #fff;
  border-radius: 5px;
  z-index: 1000;
}

.question{
  position: absolute;
  height: 18px;
  width: 18px;
  left: -1000px;
  top: -1000px;
  margin-left: -10px;
  margin-top: -10px;
  background: #932d70;
  color: #fff;
  opacity: .7;
  border-radius: 50%;
  /*border: 1px solid #932d70;*/
  /*box-shadow: 0 0 0 4px #fff;*/
  transition: all 200ms;
}

.question:before{
  content: "\f02c";
  font: normal normal normal 16px/1 octicons;
  display: block;
  text-align: center;
  font-size: 16px;
  height: 18px;
  width: 18px;
  line-height: 18px;
}

.question:hover{
  /*box-shadow: 0 0 0 4px #932d70;*/
  background: #932d70;
  opacity: 1;
}

a.question {
  color: #fff;
  text-decoration: none;
}
a.question:hover{
  text-decoration: none;
}
