#howto-container{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;

}

.answer{
  position: absolute;
  display: none;
  height: auto;
  width: 28%;
  margin-top: 20px;
  padding: 2%;
  overflow: scroll;
  background: rgba(255,255,255,.8);
  border: solid 1px rgba(0,0,0,.6);
  box-shadow: 0 0 3px rgba(0,0,0,.3);
  border-radius: 5px;
  z-index: 1000;
}

.question{
  position: absolute;
  height: 30px;
  width: 30px;
  left: -1000px;
  top: -1000px;
  margin-left: -30px;
  background: rgba(255,0,0,.8);
  border-radius: 50%;
  border: 1px solid #ff0000;
  border-shadow: 0 0 0 3px #eee;
}

.question:before{
  content: "?";
  display: block;
  text-align: center;
  font-size: 16px;
  height: 30px;
  width: 24px;
  line-height: 30px;
}

.question:hover{
  background: #ff0000;
}

a.question {
  color: #fff;
  text-decoration: none;
}
a.question:hover{
  text-decoration: none;
}
